img {
    max-width: 300px;
  }

.sold{
    background-color:  lightblue;
    background-blend-mode: normal;
}

.unsold{
    background-color: lightgray;
    background-blend-mode: normal;
}

.invalid{
    border: 1px solid red;
    background-color: #ffdddd;
}

input:invalid {
    border: 1px solid red;
}

.hidden {
    display: none;
}

.centered-text {
    text-align: center;
}

.div-card-form-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: auto;
}

.div-card-form-column {
    margin: 1% 2%;
}

.div-card-buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: navy;
    margin: 1% 0% 0% 0%;
}

.div-card-button {
    margin: 1%;
}

.div-card-images {
    text-align: center;
}

.div-card {
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.div-card-info {
    text-align: center;
}