img {
    max-width: 300px;
  }

.sold{
    border: 2px solid blue;
    background-color:  rgba(0, 204, 255, 0.126);
}

.unsold{
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.186);
}